<header>
  <nav>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help/FAQ</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
      <li class="nav-item" *ngIf="tokenVar">
        <button mat-raised-button (click)='logout()' class="nav-link">Logout</button>
      </li>
    </ul>
  </nav>
</header>
<div class="contactus">
  Customer support is very important to us. Please feel free to contact us for any questions, comments, or concerns
  that you have.
  Also, let us know if we are out of a product or we don't carry a product that you are interested in. Thank you!
</div>
<section id="contact">
  <div class="container-fluid">
    <h2 class="text-center text-uppercase">Contact Nail'd It</h2>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <form action="https://formspree.io/coryc.vector@gmail.com" method="POST">
          <div class="control-group">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Name" id="name" required
                data-validation-required-message="Please enter your name" name="name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your Email" id="email" required
                data-validation-required-message="Please enter your email" name="_replyto">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Your Phone Number" maxlength="16" id="phone" name="number">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <textarea class="form-control" rows="7" placeholder="Your Message" id="message" required
                data-validation-required-message="Please leave a message" name="message"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="text-center">
            <div id="success"></div>
            <mat-card-actions>
              <button mat-raised-button type="submit" class="btn btn-lg btn-black sendemail">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                Send Message
              </button>
            </mat-card-actions>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>