<header>
  <nav>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help/FAQ</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <button mat-raised-button (click)='logout()' class="nav-link">Logout</button>
      </li>
    </ul>
  </nav>
</header>
<div class="deck">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="image"></div>
      <mat-card-title>Bolts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Price
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button mat-raised-button (click)="openDialog()" class="purchase">Purchase</button>
      <button mat-raised-button class="cartremove">Remove from cart</button>
    </mat-card-actions>
  </mat-card>
</div>