<body>
<header>
  <nav>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/help">Help/FAQ</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
    </ul>
  </nav>

  <br />

<div class="help" style="text-align: center">
  <h1>Need Help?</h1>
  <h2>Please check out our FAQ section, and if you do not see that your question has already been answered previously, feel free to contact us at 1-800-NAI-LDIT, or complete our contact form found on the previous page. Our hours of operation are Monday-Friday 8a-6p, Saturday 10a-6p, and Sunday 10a-4p.</h2>
</div>

<br />

  <div class="row">
      <div class="col-6" style="text-align: left">
        <a><img src="../../assets/140624-F-JZ551-967.JPG" id="faq"></a>
        <br />
        <h3>Q: WOEBWEIUBWKLSCWPE</h3>
        <h4>A: EJNCWIUEOEWNOKENV</h4>
        <br />
        <h3>Q: WOEBWEIUBWKLSCWPE</h3>
        <h4>A: EJNCWIUEOEWNOKENV</h4>
        <br />
        <h3>Q: WOEBWEIUBWKLSCWPE</h3>
        <h4>A: EJNCWIUEOEWNOKENV</h4>
        <br />
        <h3>Q: WOEBWEIUBWKLSCWPE</h3>
        <h4>A: EJNCWIUEOEWNOKENV</h4>
        <br />
        <h3>Q: WOEBWEIUBWKLSCWPE</h3>
        <h4>A: EJNCWIUEOEWNOKENV</h4>
        <br />
        <h3>Q: WOEBWEIUBWKLSCWPE</h3>
        <h4>A: EJNCWIUEOEWNOKENV</h4>
        <br />
        <h3>Q: WOEBWEIUBWKLSCWPE</h3>
        <h4>A: EJNCWIUEOEWNOKENV</h4>
        <br />
      </div>
    </div>
</header>
</body>