<body>
<header>
  <nav>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/help">Help/FAQ</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth">Logout</a>
      </li>
    </ul>
  </nav>

  <br />
  <br />

<div class="help" style="text-align: center">
  <h1>Need Help?</h1>
  <h2>Please check out our FAQ section, and if you do not see that your question has already been answered previously, feel free to contact us at 1-098-765-4321. Our hours of operation are Monday-Friday 8a-6p, Saturday 10a-6p, and Sunday 10a-4p.</h2>
</div>

<br />
<br />

  <div class="row">
      <div class="col-6" style="text-align: left">
        <a><img src="../../assets/140624-F-JZ551-967.JPG" id="faq"></a>
        <h2>Q:NCJDVWUIEBVSLKNCWIfkdnvibveodnvriebvednjdbviuvnio3rbvijdv;bvlkvnqeubvirjevqefbvurvqoenve</h2>
        <h3>A:NLKFUEFBWSDKNLWI</h3>
        <br />
        <h2>Q:NCJDVWUIEBVSLKNCWIE</h2>
        <h3>A:NLKFUEFBWSDKNLWI</h3>
        <br />
        <h2>Q:NCJDVWUIEBVSLKNCWIE</h2>
        <h3>A:NLKFUEFBWSDKNLWI</h3>
        <br />
        <h2>Q:NCJDVWUIEBVSLKNCWIE</h2>
        <h3>A:NLKFUEFBWSDKNLWI</h3>
        <br />
        <h2>Q:NCJDVWUIEBVSLKNCWIE</h2>
        <h3>A:NLKFUEFBWSDKNLWI</h3>
        <br />
        <h2>Q:NCJDVWUIEBVSLKNCWIE</h2>
        <h3>A:NLKFUEFBWSDKNLWI</h3>
        <br />
        <h2>Q:NCJDVWUIEBVSLKNCWIE</h2>
        <h3>A:NLKFUEFBWSDKNLWI</h3>
        <br />
        <h2>Q:NCJDVWUIEBVSLKNCWIE</h2>
        <h3>A:NLKFUEFBWSDKNLWI</h3>
        <br />
        <h2>Q:NCJDVWUIEBVSLKNCWIE</h2>
        <h3>A:NLKFUEFBWSDKNLWI</h3>
        <br />
      </div>
    </div>
</header>
</body>