<body>
  <header>
    <nav>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/help">Help/FAQ</a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
        <li class="nav-item" *ngIf="tokenVar">
          <button mat-raised-button (click)='logout()' class="nav-link">Logout</button>
        </li>
      </ul>
    </nav>

    <br />

    <div class="help" style="text-align: center">
      <h1>Need Help?</h1>
      <h2>Please check out our FAQ section, and if you do not see that your question has already been answered
        previously, feel free to contact us at 1-800-NAI-LDIT, or complete our contact form found on the previous page.
        Our hours of operation are Monday-Friday 8a-6p, Saturday 10a-6p, and Sunday 10a-4p.</h2>
    </div>

    <br />

    <div class="row">
      <div class="col-6" style="text-align: left">
        <h2>Q: I am unsatisfied with my purchase and the product I bought. How do I refund my purchase?</h2>
        <h3>A: Please contact us via email or telephone within 30 days of purchase and we can help you right away with
          a full refund.</h3>
        <br />
        <h2>Q: The product shipped to us was in poor condition, how do I mail it back?</h2>
        <h3>A: Our shipping address is 12175 Visionary Way, Fisher In, 46038.</h3>
        <br />
        <h2>Q: Is it possible to put in special order requests?</h2>
        <h3>A: Yes! If you have a specific product or item that our online store does not have, please email
          Naildit@business.inquiries.com for further information.</h3>
        <br />
        <h2>Q: One of the items you have is "out of stock", how long will it take for your store to restock it's
          inventory?</h2>
        <h3>A: We're very sorry for this inconvenience, it usually takes 3-5 business days in order to refill our
          stock.</h3>
        <br />
        <h2>Q: Where do you get your products from? Are they from safe and trusted companies?</h2>
        <h3>A: Yes! All of our products come from well renowned companies such as Metal Masters, Armoured Drills, The
          Canadian Bolt, and ScrewTapes INC.</h3>
        <br />
        <h2>Q: I ordered products from Nail'd It, but why hasn't my packaged arrived yet?</h2>
        <h3>A: Due to how small our company is, it may take from 4-7 business days in order to arrive due to location
          and distance.</h3>
        <br />
        <h2>Q: My package got lost in the mail, do I qualify for a refund?</h2>
        <h3>A: Of course! Please contact us immediately via email for further information.</h3>
        <br />
        <h2>Q: Found an error?</h2>
        <h3>A: Report it to us at Naildit@business.errors.com and we will fix it right away!</h3>
        <br />
        <h2>Q: How do I file a formal complaint?</h2>
        <h3>A: Please call the help line and press 3. An online representative will get to you as soon as possible.</h3>
        <br />
      </div>
    </div>
  </header>
</body>