<div class="edit-dialog">
  <form class="example-form">
    <h1 mat-dialog-title>Edit</h1>
    <div class="name">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name of product" value="">
      </mat-form-field>
    </div>

    <div class="type">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Type of product" value="">
      </mat-form-field>
    </div>

    <div class="company">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Company name" value="">
      </mat-form-field>
    </div>

    <div class="price">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Price" value="">
      </mat-form-field>
    </div>

    <div class="quantity">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Quantity" value="">
      </mat-form-field>
    </div>

    <div class="buttons">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button mat-dialog-close>Submit</button>
    </div>
  </form>
</div>