<div class="edit-dialog">
        <form [formGroup]="createProductForm" >
          <h1 mat-dialog-title>Edit</h1>
          <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name of product" formControlName="nameOfProduct" name="nameOfProduct" value="">
          </mat-form-field>
          </div>
      
          <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Type of product" formControlName="typeOfProduct" name="typeOfProduct" value="">
          </mat-form-field>
          </div>
      
          <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Company name" formControlName="companyName" name="companyName"value="">
          </mat-form-field>
          </div>
      
          <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Price" formControlName="priceOfProduct" name="priceOfProduct" value="">
          </mat-form-field>
          </div>
      
          <div class="buttons">
            <button mat-raised-button mat-dialog-close>Cancel</button>
            <button mat-raised-button mat-dialog-close>Submit</button>
          </div>
        </form>
      </div>