  <header>
    <nav>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help">Help/FAQ</a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
        <li class="nav-item" *ngIf="tokenVar">
          <button mat-raised-button (click)='logout()' class="nav-link">Logout</button>
        </li>
      </ul>
    </nav>
  </header>
  
  <div class="admin-use" *ngIf="isAdminVar">
    <!-- <button mat-raised-button [matMenuTriggerFor]="menu">Admin Options</button>
    <mat-menu #menu="matMenu"> -->
      <button mat-raised-button class="add" (click)="openDialog()">Add Product</button>
  </div>

  <div class="deck">
    <mat-card class="card" *ngFor="let p of product.product">
      <mat-card-actions class="adminbuttons">
        <div class="admin-buttons" *ngIf="isAdminVar">
        <button mat-raised-button (click)="editProduct(p.id)" style="float: right; width: 2em; text-align: center; ">Edit</button>
        <button mat-raised-button (click)="deleteProduct(p.id)" style="float: right; width: 1em; text-align: center; color: maroon; font-weight: bolder">Delete</button>
        </div>
        <br/>
      </mat-card-actions>
      <mat-card-header>
        <mat-card-title>{{p.nameOfProduct}} {{p.typeOfProduct}}</mat-card-title>
        <mat-card-title>{{p.companyName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="priceandquantity">
          <div class="price"> Price:
            {{p.priceOfProduct}} 
          </div>
          <div class="quantity"> Quantity:
            {{p.quantity}}
          </div>

        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="cartbutton">Add to Cart</button>
      </mat-card-actions>
    </mat-card>
  </div>