<header>
  <nav>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help/FAQ</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
    </ul>
  </nav>
</header>

<form class="form">
  <mat-form-field class="full-width">
    <input matInput placeholder="Search for something">
  </mat-form-field>
  <mat-card-actions>
    <button mat-raised-button class="searchbutton">Search</button>
  </mat-card-actions>
</form>

<mat-card-actions>
    <div class="admin-use">
      <button mat-raised-button class="add">Add</button>
    </div>
    </mat-card-actions>

<div class="deck">
  <mat-card class="card">
    <mat-card-actions>
      <button mat-raised-button class="edit">Edit</button>
      <button mat-raised-button class="delete">Delete</button>
    </mat-card-actions>
    <mat-card-header>
      <div mat-card-avatar class="image"></div>
      <mat-card-title>Bolts</mat-card-title>
      <mat-card-subtitle>bolt</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="#" alt="Photo of a bolts">
    <mat-card-content>
      <p>
        BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS
        BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS BOLTS
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="cartbutton">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>
