<header>
  <nav>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help/FAQ</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
      <li class="nav-item" *ngIf="tokenVar">
        <button mat-raised-button (click)='logout()' class="nav-link">Logout</button>
      </li>
    </ul>
  </nav>
</header>


<div class="container">
    <button class="navButton"  (click)="openDialog()">ADD</button>
    <br>
    <h1>Products</h1>
      <tbody *ngFor="let p of product.product">
        <td>{{p.nameOfProduct}}</td>
        <td>{{p.typeOfProduct}}</td>
        <td>{{p.companyName}}</td>
        <td>{{p.priceOfProduct}}</td>
        <td>{{p.quantity}}</td>
        <td><button mat-button (click)="editProduct(p.id)" style="float: right; width: em; text-align: center; ">Update</button></td>
        <td><button mat-button (click)="deleteProduct(p.id)" style="float: right; width: 1em; text-align: center; font-weight: bolder">Delete</button></td>
      </tbody>
  </div>