<!-- this is home page styling -->
<body>
<div class="font" style="text-align:center">
    <h1>
     {{ title }}
    </h1>
    <div class="text" style="text-align:center">
      <h4>Endless possibilities with Nail'd It. We have multiple options of fasteners dependent on your specific project. We offer competitive pricing, and free shipping on orders that are $50.00 or more. If you would like to continue and check out what our store has to offer, please create an account, and get started on your project today!</h4>
  </div>
  </div>
  </body>
  <router-outlet></router-outlet>