<header>
  <nav>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help/FAQ</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
      <li class="nav-item" *ngIf="tokenVar">
        <button mat-raised-button (click)='logout()' class="nav-link">Logout</button>
      </li>
    </ul>
  </nav>
</header>

<aside class="profile-card">
  <form action="" method="get" class="form-example">
    <div class="form-example">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" required>
    </div>
    <br />
    <div class="form-example">
      <label for="email">Username: </label>
      <input type="text" name="username" id="username" required>
    </div>
    <br />
    <div class="form-example">
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" required>
    </div>
    <br />
    <div class="form-example">
      <label for="phone">Phone #: </label>
      <input type="text" name="phone" id="phone" required>
    </div>
    <br />
  </form>
</aside>

<body>
  <button mat-raised-button [matMenuTriggerFor]="profile">Account/Payment</button>

  <mat-menu #info="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="account">Account</button>
    <button mat-menu-item [matMenuTriggerFor]="payment">Payment</button>
  </mat-menu>

  <mat-menu #profile="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="account">Account</button>
    <button mat-menu-item [matMenuTriggerFor]="payment">Payment Options</button>
  </mat-menu>

  <mat-menu #account="matMenu">
    <button mat-menu-item (click)="openDialog()">Add Info</button>
    <button mat-menu-item (click)="openDialog()">Edit Info</button>
  </mat-menu>

  <mat-menu #payment="matMenu">
    <button mat-menu-item (click)="createDialog()">Add Payment</button>
    <button mat-menu-item (click)="createDialog()">Edit Payment</button>
    <button mat-menu-item (click)="createDialog()">View Payment</button>
  </mat-menu>
</body>

