<header>
  <nav>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help/FAQ</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
      <li class="nav-item" *ngIf="tokenVar">
        <button mat-raised-button (click)='logout()' class="nav-link">Logout</button>
      </li>
    </ul>
  </nav>
</header>

<div class="container">
    <button mat-raised-button class="add" (click)="openDialog()" style="float: right;">ADD</button>
    <br>
<div class="deck">
    <mat-card class="card" *ngFor="let p of payment.payment">
      <mat-card-actions class="userbuttons">
        <br/>
      </mat-card-actions>
      <mat-card-header>
        <mat-card-title>{{p.nameOfCompany}}</mat-card-title>
        <mat-card-title>{{p.cardNumber}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="cvc-expiration">
          <div class="cvc"> CVC:
            {{p.cardVerification}}
          </div>
          <br/>
          <div class="expiration"> Exp. Date:
            {{p.expirationDate}}
          </div>
          <br/>
          <div class="owner"> Card Owner:
            {{p.cardOwner}}
          </div>
          <br/>
        <button mat-button (click)="editpayment(p.id)" style="float: right; width: 2em; text-align: center; ">Update</button>
        <button mat-button (click)="deletepayment(p.id)" style="float: right; width: 1em; text-align: center; color: maroon; font-weight: bolder">Delete</button>

        </div>
      </mat-card-content>
      </mat-card>
      </div>
