.grandparentcontainer{
height:50%;

}

.parentContainer{
vertical-align:middle;
height:100%;
margin-top: 15em;
}

.signupForm {
  vertical-align: middle;
  max-width: 330px;
  padding: 10px;
  border-radius: 0.3em;
  margin: auto;
  background-color: rgba(228,208,181, 0.8);
  color: black;
}

.password {
  margin-bottom: 10px;
}

.signupbutton {
  position: relative;
  left: 50%;
  background-color: rgba(133, 85, 23);
  color: white;
}

form h2 { 
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-top: 5%;
  text-align: center;
  letter-spacing: 4px;
  color: black;
}

label {
  font-size: 16px;
}

.help-block {
  margin-top: 3px;
  font-size: 18px;
  color: black;
}

.back2home {
  margin-top: 3px;
  font-size: 18px;
  color: black;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}