body {
    background: url('../src/assets/white-1809005_960_720.jpg') fixed no-repeat center;
    font-family: 'Rajdhani', sans-serif;
    background-size: cover;
}

.font {
    color: black;
    font-size: 50px;
}

