<body>
<header>
  <nav>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help/FAQ</a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth">Logout</a>
      </li>
    </ul>
  </nav>

    <div class="font" style="text-align:center">
        <h1>
         Nail'd It
        </h1>
        <div class="text" style="text-align:center">
          <h3>Endless possibilities with Nail'd It. We have multiple options of products dependent on your specific project. We offer competitive pricing, and free shipping on all orders! If you would like to continue and check out what our store has to offer, please create an account, and get started on your project today!</h3>
        </div>
    </div>
<br />
    <div class="container">  
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://c1.staticflickr.com/2/1843/44560586172_186df9cef3_b.jpg" style="width:100%;">
            </div>
      
            <div class="item">
              <img src="https://images.pexels.com/photos/1427292/pexels-photo-1427292.jpeg?cs=srgb&dl=alloy-aluminum-close-up-1427292.jpg&fm=jpg" style="width:100%;">
            </div>
          
            <div class="item">
              <img src="https://c1.staticflickr.com/5/4079/4925027022_f16b0fed77_b.jpg" style="width:100%;">
            </div>

            <div class="item">
              <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Western_Forge_Craftsman_Professional_screwdrivers.jpg" style="width:100%;">
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
</header>
</body>
